<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="only screen and (max-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="only screen and (max-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

    <title>Hoy, en la Cocina</title>
    <link rel="icon" href="/assets/apuchef.png" type="image/png">

{% seo %}

{% include head-custom.html %}
    <style>
      /* The box that appears */
      body {
            text-align: center;
            margin: 50px;
        }
        .box {
          display: none; /* Initially hidden */
          position: fixed;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%); /* Centers both horizontally & vertically */
          background-color: #333;
          color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        /* Close button inside the box */
        .close-btn {
            cursor: pointer;
            background: red;
            color: white;
            border: none;
            padding: 5px 10px;
            margin-top: 10px;
            border-radius: 5px;
        }
    </style>
  </head>

  <body>
    <div class="shell">

      <header>
        <div class="ribbon-outer">
          <div class="ribbon-inner">
            <h1>Hoy, en la Cocina</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </div>
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}


      <span class="banner-fix"></span>


      <section id="main_content">
        <div style="display: flex; justify-content: center; gap: 10px;">
          <button onclick="showBox("left")">Button 1</button>
          <button onclick="showBox2("right")">Button 2</button>
        </div>
        <div id="popupBox" class="box">
        <div id="boxtext"></div>
        <br>
        <button class="close-btn" onclick="hideBox()">Close</button>
    </div>
        <p><b style="font-size:36px;">PASTA</b></p>
        <p id="carbonara"></p>
        <p id="roasted pepper"></p>
        <p id="putanesca"></p>
        <p><b style="font-size:36px;">OTHER</b></p>
        <p id="gumbo"></p>
        <p id="egg"></p>
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
              <p id="random"></p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </footer>

    </div>
  </body>

<script>
  var ingredient_dict={
    // Count
    egg:[3190/12.0,155], 
    // Count
    egg_white:[3190/12.0,17],
    // Count
    egg_yolk:[3190/12.0,55],
    // Serving
    fettucine:[990/5.0,270],
    // Gram
    parmesan:[4250/145.0,94.8*5/145.0],
    // Count
    bacon_thin:[3190/15.0,50],
    // Teeth
    garlic:[1090/27.0,12.4],
    // Milliliters
    olive_oil:[13850/1000.0,8210/1000.0],
    // Count
    red_pepper:[1690,40],
    // Grams
    pistaccio:[2350/80.0, 600/100.0],
    // Count
    tomato:[1075/2.5, 22],
    // Count
    onion:[775/1.2,44],
    // Grams
    flour:[1000/1000.0, 340/100],
    // Count
    longaniza:[6190/4.0, 257.5*2],
    // Grams, unit is 500 grams
    shrimp_large:[7990/500.0, 68/100.0],
    // Grams, one thing is 1500 grams
    celery:[1390/1500.0,16/100.0],
    // Cups, serving is like 1/4 cup
    rice_white:[2690/5.0, 167.5/0.25],
    // Grams, one thing is 240 grams
    capers:[2990/240.0,34/100.0],
    // Grams, one thing is 380 grams
    tomatos_canned:[1750/380.0,22/100.0],
    // Grams, one thing is 240 grams
    anchovies:[6890/240.0,175/100.0],
    // Grams, one thing is 200 grams
    olives_black:[1890/200.0, 239/100.0],
  };

  //Can make per order
  var carbonara={
    egg_yolk:2,
    fettucine:1,
    parmesan:30,
    bacon_thin:3,
    garlic:2
  };

  // Make jar of sauce
  var roasted_pepper_sauce={
    red_pepper:1,
    pistaccio:80,
    olive_oil:15,
    garlic:4,
    fettucine:5,
  };
  // Make whole pot
  var gumbo={
    red_pepper:2,
    onion:1,
    celery:400,
    flour:100,
    olive_oil:20,
    longaniza:4,
    shrimp_large:500,
    rice_white:0.25*5
  };
  // Can be per order
  var putanesca={
    garlic:1,
    capers:12,
    olives_black:40,
    anchovies:40,
    tomatos_canned:380,
    olive_oil:15,
    fettucine:1
  };

  // Egg
  var egg ={
    egg:1
  }

  function roundnum(num){
    return Math.ceil(num / 50)*50;
  }

  function get_sums(dish, ingredients, net) {
    var pricesum = 0;
    var calsum = 0;
    for (let key in dish) {
      pricesum += ingredients[key][0] * dish[key];
      calsum += ingredients[key][1] * dish[key];
    };

    return {price:roundnum(pricesum*net), cals:calsum*net};
  }
  function show_results(dish, net, html_id, name) {
    let results = get_sums(dish, ingredient_dict, net);
    document.getElementById(html_id).innerHTML = `${name} <br>| $${results.price.toFixed(0)} |  ${results.cals.toFixed(0)} cal |`;
  }

  

  show_results(carbonara, 1, "carbonara", "(Almost) Carbonara")
  show_results(roasted_pepper_sauce, 1/4.0, "roasted pepper", "Roasted Red Pepper & Pistaccio Sauce")
  show_results(gumbo, 1/5.0, "gumbo", "Shrimp & Sausage Gumbo")
  show_results(egg, 1, "egg", "Egg")
  show_results(putanesca, 1, "putanesca", "Putanesca")

  function showBox(argument) {
    document.getElementById("popupBox").style.display = "block";
    if (argument == "left") {
      document.getElementById("boxtext").innerHTML = "You clicked button one you stupid idiot";
    } else {
      document.getElementById("boxtext").innerHTML = "You clicked button two you goddamn genius";
    }
  }

  function hideBox() {
    document.getElementById("popupBox").style.display = "none";
  }

  function getRandomEntry(arr) {
    return arr[Math.floor(Math.random() * arr.length)];
  }
  const messagelist = ["there is no rat hiding in my hair doing the cooking stop asking",
                      "my name is not and never has been mevin michael moy",
                      "food tastes better if you believe in ghosts",
                      "personally, I wouldn't trust me but I appreciate the sentiment",
                      "look, austria-hungary was dissolved like 100 years ago, but hear me out...",
                      "he who has stolen from the wizards has earned the nat 20 fireball",
                      "looking at the sun is a good idea",
                      "human beings weren't meant to be able to see the moon",
                      "i once saw a man in a gorilla suit dancing in the middle of the street and it changed me",
                      "could you imagine what would happen if brian stevenson didn't do that one thing",
                      "pink is not a real color and i will drown in pepto bismol on that hill",
                      ];
  document.getElementById("random").innerHTML = getRandomEntry(messagelist); // Random fruit from the list
  
</script>
</html>
